-- WARNING: This schema is for context only and is not meant to be run.
-- Table order and constraints may not be valid for execution.

CREATE TABLE public.bundle_items (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  bundle_id uuid NOT NULL,
  variation_id uuid NOT NULL,
  quantity integer NOT NULL DEFAULT 1 CHECK (quantity >= 1),
  CONSTRAINT bundle_items_pkey PRIMARY KEY (id),
  CONSTRAINT fk_bundle_items_bundle FOREIGN KEY (bundle_id) REFERENCES public.bundles(id),
  CONSTRAINT fk_bundle_items_variation FOREIGN KEY (variation_id) REFERENCES public.product_variations(id)
);
CREATE TABLE public.bundle_option_groups (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  bundle_id uuid NOT NULL,
  name character varying NOT NULL,
  is_required boolean NOT NULL DEFAULT true,
  sort_order integer NOT NULL DEFAULT 0,
  CONSTRAINT bundle_option_groups_pkey PRIMARY KEY (id),
  CONSTRAINT fk_bog_bundle FOREIGN KEY (bundle_id) REFERENCES public.bundles(id)
);
CREATE TABLE public.bundle_option_items (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  option_group_id uuid NOT NULL,
  variation_id uuid NOT NULL,
  quantity integer NOT NULL DEFAULT 1 CHECK (quantity >= 1),
  CONSTRAINT bundle_option_items_pkey PRIMARY KEY (id),
  CONSTRAINT fk_boi_group FOREIGN KEY (option_group_id) REFERENCES public.bundle_option_groups(id),
  CONSTRAINT fk_boi_variation FOREIGN KEY (variation_id) REFERENCES public.product_variations(id)
);
CREATE TABLE public.bundles (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  organization_id uuid NOT NULL,
  created_by uuid NOT NULL,
  name character varying NOT NULL,
  description text,
  bundle_type USER-DEFINED NOT NULL,
  status USER-DEFINED NOT NULL DEFAULT 'draft'::bundle_status,
  price numeric NOT NULL CHECK (price >= 0::numeric),
  featured_photo_url text,
  starts_at timestamp with time zone,
  ends_at timestamp with time zone,
  is_archived boolean NOT NULL DEFAULT false,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT bundles_pkey PRIMARY KEY (id),
  CONSTRAINT fk_bundles_org FOREIGN KEY (organization_id) REFERENCES public.organizations(id),
  CONSTRAINT fk_bundles_created_by FOREIGN KEY (created_by) REFERENCES public.users(id)
);
CREATE TABLE public.cart_bundle_instances (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL,
  bundle_id uuid NOT NULL,
  quantity integer NOT NULL DEFAULT 1 CHECK (quantity >= 1),
  added_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT cart_bundle_instances_pkey PRIMARY KEY (id),
  CONSTRAINT fk_cbi_user FOREIGN KEY (user_id) REFERENCES public.users(id),
  CONSTRAINT fk_cbi_bundle FOREIGN KEY (bundle_id) REFERENCES public.bundles(id)
);
CREATE TABLE public.cart_fulfillment_preferences (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL,
  organization_id uuid NOT NULL,
  fulfillment_method text NOT NULL DEFAULT 'pickup'::text CHECK (fulfillment_method = ANY (ARRAY['pickup'::text, 'delivery'::text])),
  delivery_address_id uuid,
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT cart_fulfillment_preferences_pkey PRIMARY KEY (id),
  CONSTRAINT fk_cfp_user FOREIGN KEY (user_id) REFERENCES public.users(id),
  CONSTRAINT fk_cfp_organization FOREIGN KEY (organization_id) REFERENCES public.organizations(id),
  CONSTRAINT fk_cfp_address FOREIGN KEY (delivery_address_id) REFERENCES public.user_addresses(id)
);
CREATE TABLE public.cart_items (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL,
  product_id uuid NOT NULL,
  variation_id uuid NOT NULL,
  organization_id uuid NOT NULL,
  quantity integer NOT NULL DEFAULT 1 CHECK (quantity >= 1),
  unit_price_snapshot numeric NOT NULL,
  is_pre_order boolean NOT NULL DEFAULT false,
  bundle_instance_id uuid,
  added_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT cart_items_pkey PRIMARY KEY (id),
  CONSTRAINT fk_cart_items_user FOREIGN KEY (user_id) REFERENCES public.users(id),
  CONSTRAINT fk_cart_items_product FOREIGN KEY (product_id) REFERENCES public.products(id),
  CONSTRAINT fk_cart_items_variation FOREIGN KEY (variation_id) REFERENCES public.product_variations(id),
  CONSTRAINT fk_cart_items_organization FOREIGN KEY (organization_id) REFERENCES public.organizations(id),
  CONSTRAINT fk_cart_items_bundle_instance FOREIGN KEY (bundle_instance_id) REFERENCES public.cart_bundle_instances(id)
);
CREATE TABLE public.order_invoices (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  order_id uuid NOT NULL UNIQUE,
  invoice_year smallint NOT NULL,
  sequence_number integer NOT NULL DEFAULT nextval('invoice_number_seq'::regclass) CHECK (sequence_number > 0),
  status USER-DEFINED NOT NULL DEFAULT 'draft'::invoice_status,
  pdf_path text,
  issued_at timestamp with time zone,
  voided_at timestamp with time zone,
  voided_by uuid,
  void_reason text,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT order_invoices_pkey PRIMARY KEY (id),
  CONSTRAINT fk_order_invoices_order FOREIGN KEY (order_id) REFERENCES public.orders(id),
  CONSTRAINT fk_order_invoices_voided_by FOREIGN KEY (voided_by) REFERENCES public.users(id)
);
CREATE TABLE public.order_items (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  order_id uuid NOT NULL,
  variation_id uuid,
  bundle_instance_id uuid,
  is_bundle_header boolean NOT NULL DEFAULT false,
  bundle_id uuid,
  bundle_name_snapshot text,
  product_name_snapshot text,
  variation_name_snapshot text,
  attributes_snapshot jsonb NOT NULL DEFAULT '{}'::jsonb,
  unit_price numeric NOT NULL DEFAULT 0 CHECK (unit_price >= 0::numeric),
  quantity integer NOT NULL DEFAULT 1 CHECK (quantity >= 1),
  subtotal numeric NOT NULL DEFAULT 0 CHECK (subtotal >= 0::numeric),
  commission_amount numeric NOT NULL DEFAULT 0 CHECK (commission_amount >= 0::numeric),
  is_pre_order boolean NOT NULL DEFAULT false,
  CONSTRAINT order_items_pkey PRIMARY KEY (id),
  CONSTRAINT fk_order_items_order FOREIGN KEY (order_id) REFERENCES public.orders(id),
  CONSTRAINT fk_order_items_variation FOREIGN KEY (variation_id) REFERENCES public.product_variations(id),
  CONSTRAINT fk_order_items_bundle FOREIGN KEY (bundle_id) REFERENCES public.bundles(id)
);
CREATE TABLE public.order_number_counters (
  organization_id uuid NOT NULL,
  period character NOT NULL,
  last_value integer NOT NULL DEFAULT 0,
  CONSTRAINT order_number_counters_pkey PRIMARY KEY (organization_id, period),
  CONSTRAINT order_number_counters_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id)
);
CREATE TABLE public.order_payments (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  order_id uuid NOT NULL UNIQUE,
  method USER-DEFINED NOT NULL,
  status USER-DEFINED NOT NULL DEFAULT 'pending'::payment_status,
  amount numeric NOT NULL CHECK (amount > 0::numeric),
  proof_url text,
  proof_path text,
  rejection_note text,
  confirmed_by uuid,
  confirmed_at timestamp with time zone,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  proof_amount numeric,
  proof_reference_code character varying,
  gcash_ref_no text,
  ocr_status text,
  ocr_raw_text text,
  ocr_confidence numeric,
  ocr_verified_at timestamp with time zone,
  gcash_amount numeric,
  CONSTRAINT order_payments_pkey PRIMARY KEY (id),
  CONSTRAINT fk_order_payments_order FOREIGN KEY (order_id) REFERENCES public.orders(id),
  CONSTRAINT fk_order_payments_confirmed_by FOREIGN KEY (confirmed_by) REFERENCES public.users(id)
);
CREATE TABLE public.orders (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL,
  organization_id uuid NOT NULL,
  status USER-DEFINED NOT NULL DEFAULT 'pending'::order_status,
  fulfillment_method text NOT NULL CHECK (fulfillment_method = ANY (ARRAY['pickup'::text, 'delivery'::text])),
  delivery_address_snapshot jsonb,
  subtotal numeric NOT NULL CHECK (subtotal >= 0::numeric),
  discount_amount numeric NOT NULL DEFAULT 0 CHECK (discount_amount >= 0::numeric),
  commission_rate numeric NOT NULL CHECK (commission_rate >= 0::numeric AND commission_rate <= 1::numeric),
  commission_amount numeric NOT NULL,
  total_amount numeric NOT NULL CHECK (total_amount >= 0::numeric),
  org_payout_amount numeric NOT NULL CHECK (org_payout_amount >= 0::numeric),
  notes text,
  cancelled_by uuid,
  cancellation_reason text,
  cancelled_at timestamp with time zone,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  order_number character varying NOT NULL,
  CONSTRAINT orders_pkey PRIMARY KEY (id),
  CONSTRAINT fk_orders_user FOREIGN KEY (user_id) REFERENCES public.users(id),
  CONSTRAINT fk_orders_organization FOREIGN KEY (organization_id) REFERENCES public.organizations(id),
  CONSTRAINT fk_orders_cancelled_by FOREIGN KEY (cancelled_by) REFERENCES public.users(id)
);
CREATE TABLE public.organizations (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  name character varying NOT NULL CHECK (length(name::text) >= 2),
  contact_email character varying NOT NULL CHECK (contact_email::text ~* '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'::text),
  phone_number character varying,
  address jsonb NOT NULL DEFAULT '{}'::jsonb,
  address_images_url jsonb DEFAULT '[]'::jsonb,
  search_keywords ARRAY DEFAULT '{}'::text[],
  logo_image_url text DEFAULT ''::text,
  logo_image_path text DEFAULT ''::text,
  cover_image_url text DEFAULT ''::text,
  cover_image_path text DEFAULT ''::text,
  description text DEFAULT ''::text,
  images_url jsonb DEFAULT '[]'::jsonb,
  settings jsonb NOT NULL DEFAULT '{"businessHours": {}, "commissionRate": 0, "autoAcceptOrders": false, "requireOrderApproval": true}'::jsonb,
  total_paid numeric DEFAULT 0,
  total_due numeric DEFAULT 0,
  last_payment_date timestamp with time zone,
  payment_method text DEFAULT ''::text,
  date_created timestamp with time zone DEFAULT now(),
  last_modified timestamp with time zone DEFAULT now(),
  status USER-DEFINED DEFAULT 'draft'::organization_status,
  is_public boolean DEFAULT false,
  is_setup_complete boolean DEFAULT false,
  is_verified boolean DEFAULT false,
  verification jsonb DEFAULT '{}'::jsonb,
  order_prefix character varying NOT NULL,
  CONSTRAINT organizations_pkey PRIMARY KEY (id)
);
CREATE TABLE public.product_categories (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  organization_id uuid,
  name character varying NOT NULL,
  slug character varying NOT NULL,
  description text,
  parent_id uuid,
  sort_order integer DEFAULT 0,
  is_active boolean DEFAULT true,
  is_custom boolean DEFAULT false,
  icon character varying,
  created_at timestamp with time zone DEFAULT now(),
  updated_at timestamp with time zone DEFAULT now(),
  CONSTRAINT product_categories_pkey PRIMARY KEY (id),
  CONSTRAINT fk_category_organization FOREIGN KEY (organization_id) REFERENCES public.organizations(id),
  CONSTRAINT fk_category_parent FOREIGN KEY (parent_id) REFERENCES public.product_categories(id)
);
CREATE TABLE public.product_variations (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  product_id uuid NOT NULL,
  sku character varying,
  attributes jsonb DEFAULT '{}'::jsonb,
  variation_name character varying,
  price numeric NOT NULL CHECK (price >= 0::numeric),
  compare_at_price numeric,
  stock_quantity integer DEFAULT 0 CHECK (stock_quantity >= 0),
  reserved_quantity integer DEFAULT 0 CHECK (reserved_quantity >= 0),
  pre_order_quantity integer DEFAULT 0,
  completed_orders integer DEFAULT 0,
  cancelled_orders integer DEFAULT 0,
  available_quantity integer DEFAULT (stock_quantity - reserved_quantity),
  is_available boolean DEFAULT true,
  is_archived boolean DEFAULT false,
  created_at timestamp with time zone DEFAULT now(),
  updated_at timestamp with time zone DEFAULT now(),
  last_stock_update timestamp with time zone DEFAULT now(),
  CONSTRAINT product_variations_pkey PRIMARY KEY (id),
  CONSTRAINT fk_variation_product FOREIGN KEY (product_id) REFERENCES public.products(id)
);
CREATE TABLE public.products (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  account_id uuid NOT NULL,
  organization_id uuid NOT NULL,
  name character varying NOT NULL,
  category_old character varying,
  status USER-DEFINED DEFAULT 'draft'::product_status,
  description text,
  search_keywords ARRAY DEFAULT '{}'::text[],
  is_approved boolean DEFAULT false,
  total_sales integer DEFAULT 0,
  total_orders integer DEFAULT 0,
  is_discounted boolean DEFAULT false,
  discount_type USER-DEFINED DEFAULT 'none'::discount_type,
  discount_target character varying,
  discount_value numeric DEFAULT 0,
  featured_photo_url text,
  photo_urls jsonb DEFAULT '[]'::jsonb,
  can_pre_order boolean DEFAULT false,
  created_at timestamp with time zone DEFAULT now(),
  updated_at timestamp with time zone DEFAULT now(),
  is_archived boolean DEFAULT false,
  category_id uuid,
  supplier_id uuid,
  CONSTRAINT products_pkey PRIMARY KEY (id),
  CONSTRAINT fk_products_account FOREIGN KEY (account_id) REFERENCES public.users(id),
  CONSTRAINT fk_products_organization FOREIGN KEY (organization_id) REFERENCES public.organizations(id),
  CONSTRAINT fk_product_category FOREIGN KEY (category_id) REFERENCES public.product_categories(id),
  CONSTRAINT products_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id)
);
CREATE TABLE public.promotion_eligibility_rules (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  promotion_id uuid NOT NULL,
  rule_type USER-DEFINED NOT NULL,
  metadata jsonb DEFAULT '{}'::jsonb,
  CONSTRAINT promotion_eligibility_rules_pkey PRIMARY KEY (id),
  CONSTRAINT fk_per_promotion FOREIGN KEY (promotion_id) REFERENCES public.promotions(id)
);
CREATE TABLE public.promotion_gift_items (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  promotion_id uuid NOT NULL UNIQUE,
  variation_id uuid NOT NULL,
  quantity integer NOT NULL DEFAULT 1 CHECK (quantity >= 1),
  CONSTRAINT promotion_gift_items_pkey PRIMARY KEY (id),
  CONSTRAINT fk_pgi_promotion FOREIGN KEY (promotion_id) REFERENCES public.promotions(id),
  CONSTRAINT fk_pgi_variation FOREIGN KEY (variation_id) REFERENCES public.product_variations(id)
);
CREATE TABLE public.promotion_redemptions (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  promotion_id uuid NOT NULL,
  user_id uuid NOT NULL,
  order_id uuid NOT NULL,
  discount_amount numeric NOT NULL CHECK (discount_amount >= 0::numeric),
  redeemed_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT promotion_redemptions_pkey PRIMARY KEY (id),
  CONSTRAINT fk_pr_user FOREIGN KEY (user_id) REFERENCES public.users(id),
  CONSTRAINT fk_pr_order FOREIGN KEY (order_id) REFERENCES public.orders(id),
  CONSTRAINT fk_pr_promotion FOREIGN KEY (promotion_id) REFERENCES public.promotions(id)
);
CREATE TABLE public.promotion_targets (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  promotion_id uuid NOT NULL,
  product_id uuid,
  organization_id uuid,
  CONSTRAINT promotion_targets_pkey PRIMARY KEY (id),
  CONSTRAINT fk_pt_promotion FOREIGN KEY (promotion_id) REFERENCES public.promotions(id),
  CONSTRAINT fk_pt_product FOREIGN KEY (product_id) REFERENCES public.products(id),
  CONSTRAINT fk_pt_org FOREIGN KEY (organization_id) REFERENCES public.organizations(id)
);
CREATE TABLE public.promotions (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  organization_id uuid,
  created_by uuid NOT NULL,
  name character varying NOT NULL,
  description text,
  status USER-DEFINED NOT NULL DEFAULT 'draft'::promotion_status,
  trigger_type USER-DEFINED NOT NULL,
  voucher_code character varying UNIQUE,
  target_type USER-DEFINED NOT NULL,
  discount_type USER-DEFINED NOT NULL,
  discount_value numeric,
  minimum_order_amount numeric DEFAULT 0,
  total_uses_cap integer,
  total_uses_count integer NOT NULL DEFAULT 0 CHECK (total_uses_count >= 0),
  per_user_uses_cap integer CHECK (per_user_uses_cap IS NULL OR per_user_uses_cap >= 1),
  starts_at timestamp with time zone,
  ends_at timestamp with time zone,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT promotions_pkey PRIMARY KEY (id),
  CONSTRAINT fk_promotions_org FOREIGN KEY (organization_id) REFERENCES public.organizations(id),
  CONSTRAINT fk_promotions_created_by FOREIGN KEY (created_by) REFERENCES public.users(id)
);
CREATE TABLE public.stock_logs (
  id bigint NOT NULL DEFAULT nextval('stock_logs_id_seq'::regclass),
  variation_id uuid NOT NULL,
  product_id uuid NOT NULL,
  organization_id uuid NOT NULL,
  previous_quantity integer,
  new_quantity integer,
  quantity_change integer NOT NULL,
  action USER-DEFINED NOT NULL,
  source_type character varying,
  source_id uuid,
  performed_by uuid,
  remarks text,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT stock_logs_pkey PRIMARY KEY (id),
  CONSTRAINT fk_stock_log_product FOREIGN KEY (product_id) REFERENCES public.products(id),
  CONSTRAINT fk_stock_log_organization FOREIGN KEY (organization_id) REFERENCES public.organizations(id),
  CONSTRAINT fk_stock_log_variation FOREIGN KEY (variation_id) REFERENCES public.product_variations(id)
);
CREATE TABLE public.student_info (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL UNIQUE,
  id_number character varying NOT NULL,
  first_name text NOT NULL,
  last_name text NOT NULL,
  college text,
  department text,
  course text,
  year_level smallint CHECK (year_level >= 1 AND year_level <= 10),
  school_email text,
  id_photo_url text,
  id_photo_path text,
  verification_status USER-DEFINED NOT NULL DEFAULT 'unverified'::student_verification_status,
  verified_at timestamp with time zone,
  verified_by uuid,
  rejection_reason text,
  created_at timestamp with time zone DEFAULT now(),
  updated_at timestamp with time zone DEFAULT now(),
  CONSTRAINT student_info_pkey PRIMARY KEY (id),
  CONSTRAINT fk_student_info_user FOREIGN KEY (user_id) REFERENCES public.users(id),
  CONSTRAINT fk_student_info_verified_by FOREIGN KEY (verified_by) REFERENCES public.users(id)
);
CREATE TABLE public.student_organization_memberships (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL,
  organization_id uuid NOT NULL,
  membership_status USER-DEFINED NOT NULL DEFAULT 'pending'::membership_status,
  proof_url text,
  proof_path text,
  reviewed_by uuid,
  reviewed_at timestamp with time zone,
  rejection_reason text,
  position text,
  academic_year character varying,
  created_at timestamp with time zone DEFAULT now(),
  updated_at timestamp with time zone DEFAULT now(),
  CONSTRAINT student_organization_memberships_pkey PRIMARY KEY (id),
  CONSTRAINT fk_membership_reviewed_by FOREIGN KEY (reviewed_by) REFERENCES public.users(id),
  CONSTRAINT fk_membership_user FOREIGN KEY (user_id) REFERENCES public.users(id),
  CONSTRAINT fk_membership_organization FOREIGN KEY (organization_id) REFERENCES public.organizations(id)
);
CREATE TABLE public.suppliers (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  organization_id uuid NOT NULL,
  name text NOT NULL,
  description text,
  contact_number text,
  contact_email text,
  address jsonb DEFAULT '{}'::jsonb,
  links jsonb DEFAULT '[]'::jsonb,
  created_at timestamp with time zone DEFAULT now(),
  updated_at timestamp with time zone DEFAULT now(),
  is_archived boolean NOT NULL DEFAULT false,
  CONSTRAINT suppliers_pkey PRIMARY KEY (id),
  CONSTRAINT fk_suppliers_organization FOREIGN KEY (organization_id) REFERENCES public.organizations(id)
);
CREATE TABLE public.user_addresses (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL,
  label USER-DEFINED NOT NULL DEFAULT 'home'::address_label,
  recipient_name text NOT NULL,
  contact_number text NOT NULL,
  street text NOT NULL,
  barangay text,
  city character varying NOT NULL,
  province character varying NOT NULL,
  postal_code character varying,
  notes text,
  is_default boolean NOT NULL DEFAULT false,
  created_at timestamp with time zone DEFAULT now(),
  updated_at timestamp with time zone DEFAULT now(),
  CONSTRAINT user_addresses_pkey PRIMARY KEY (id),
  CONSTRAINT fk_user_addresses_user FOREIGN KEY (user_id) REFERENCES public.users(id)
);
CREATE TABLE public.user_profiles (
  id uuid NOT NULL,
  bio text,
  gender text,
  birthdate date,
  default_fulfillment text DEFAULT 'pickup'::text CHECK (default_fulfillment = ANY (ARRAY['pickup'::text, 'delivery'::text])),
  avatar_path text,
  created_at timestamp with time zone DEFAULT now(),
  updated_at timestamp with time zone DEFAULT now(),
  CONSTRAINT user_profiles_pkey PRIMARY KEY (id),
  CONSTRAINT user_profiles_id_fkey FOREIGN KEY (id) REFERENCES public.users(id)
);
CREATE TABLE public.users (
  id uuid NOT NULL,
  full_name text NOT NULL,
  avatar_url text,
  role text DEFAULT 'customer'::text CHECK (role = ANY (ARRAY['customer'::text, 'organization_admin'::text, 'organization_manager'::text, 'organization_staff'::text, 'admin'::text])),
  contact_number text,
  is_verified boolean DEFAULT false,
  has_agreed_to_terms boolean DEFAULT false,
  created_at timestamp with time zone DEFAULT now(),
  updated_at timestamp with time zone DEFAULT now(),
  organization_id uuid,
  has_changed_default_password boolean DEFAULT false,
  is_suspended boolean DEFAULT false,
  suspended_at timestamp with time zone,
  suspended_by uuid,
  CONSTRAINT users_pkey PRIMARY KEY (id),
  CONSTRAINT users_id_fkey FOREIGN KEY (id) REFERENCES auth.users(id),
  CONSTRAINT users_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id),
  CONSTRAINT users_suspended_by_fkey FOREIGN KEY (suspended_by) REFERENCES public.users(id)
);
CREATE TABLE public.verification_codes (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  email character varying NOT NULL,
  code character varying NOT NULL,
  type character varying DEFAULT 'organization_verification'::character varying,
  expires_at timestamp with time zone NOT NULL,
  used boolean DEFAULT false,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT verification_codes_pkey PRIMARY KEY (id)
);